:root{
    --color-nav-header-text-light: hsl(var(--color-base-hue),100%,87%);
    --color-nav-item-text-light: hsl(var(--color-base-hue),100%,87%);
    --nav-header-font-size:2rem;
    --nav-header-font-weight:bold;

}

.nav
{
    display:flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap : wrap;
}
.nav-header
{
    color: var(--color-nav-header-text-light);
    font-weight: var(--nav-header-font-weight);
    font-size: var(--nav-header-font-size);
}
.nav ul 
{
    display: flex;
   justify-content: space-around;
    align-items:center;
    flex-wrap: wrap;
}
.nav ul li 
{
    list-style: none;
}
.nav-item
{
    color: var(--color-nav-item-text-light);
    text-decoration: none;
    font-size:1rem;
    font-weight: 300;
    padding:1rem;
}
.nav-header:hover , .nav ul li a:hover 
{
    color: white;
}