
<form>
    <h2>Search Author</h2>
    <input type="text" name="search" value="<%= search %>">
    <button type="submit">Search</button>
</form>
<br>
<br>
<% locals.author_list.forEach((author)=>{ %>
    <p><%= author.name %></p>
<% }) %>