<%- include('../partials/error.ejs') %>
<form action="/author" method="POST">
    <h3 class="side-header" >New Author</h3>
    <%- include('../partials/name_input.ejs') %> 
    <br><Br>
    <a class="btn btn-danger" href="/author">cancel</a>
    <button class="btn btn-primary" type="submit">Create</button>
</form>