<%- include('../partials/error.ejs') %>
<form action="/author" method="POST">
    <h3>New Author</h3>
    <%- include('../partials/name_input.ejs') %> 
    <br><Br>
    <a href="/author">cancel</a>
    <button type="submit">Create</button>
</form>